.part1 {
    background: #191716;
    color: #af9bb6;
}
.part2 {
       background: url(../../assets/img/nursesduckys.jpg) center no-repeat;

}
.nav-extended {
    background: #440d0f;
}
.nav2 {
    background: #b71c1c;
}
.nav ul li a {
    color: #84596b;
   
}
.nav2 ul li a {
    color: black;
   
}
.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
    color: #84596b;
}
.tabs.tabs-transparent .indicator {
    background-color: #84596b;
    height: 3px;
}
.tabs .tab a {
    font-size: 13px;
}
.btn-floating {
    background: #440d0f;
}
.btn-floating:hover {
    background: #84596b;
}
